.cartTable {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 4em;
	background-color: var(--color-grey-9);
	color: black;
	font-weight: bold;
	font-size: 18px;
	letter-spacing: 2px;
	line-height: 2;
}




.cartTable :nth-child(1) {
	flex: 1;
}

.cartTable> :nth-child(2) {
	flex: 2;
}

.cartTable> :nth-child(3) {
	flex: 8;

}

.cartTable :nth-child(4) {
	flex: 2;
}

.cartTable :nth-child(5) {
	flex: 2;
}

.cartTable :nth-child(6) {
	flex: 2;
}

.cartFooter {
	margin-top: 2em;
	margin-bottom: 2em;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.cartFooter  button {
	height: 2.6em;
	min-width: 10em;
	text-transform: uppercase;
	background: white;
	font-size: 18px;
	border: 1px solid var(--color-grey-1);
	cursor: pointer;
	font-weight: bold;
	color:var(--color-grey-1);
	transition: all 0.2s linear;
}
.cartFooter  button:hover {
	background: black;
	border: 1px solid white;
	color: white;
}

.cartFooter input {
	height: 3em;
	margin-right: 1em;
}