.footer {
    display: flex;
	position:absolute;
	bottom: 0;
    justify-content: space-between;
	align-items: center;
    background-color: white;
    font-size: 0.5em;
    color: black;
	width: 79vw;
    font-weight: bold;
	border-top: 1px solid var(--color-grey-9);
}

.footerLeftSide {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
	
}

.footerLeftSide>a>div {
    margin-right: 16px !important;
}

.footerData {
    display: flex;
    flex-direction: column;
    text-align: left;
    color: rgba(0, 0, 0, 0.829);
    font-weight: bold;
    letter-spacing: 0.8px;
    font-size: 10px;
}

.socialIconContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 212px;
}

.socialIcon {
    color: rgb(0, 0, 0);
    font-size: 24px;
    height: 24px;
	cursor: pointer;
}

.languageSelector {
	display: flex;
	justify-content: space-around;
	align-items: center;
	width: 30%;
    font-size: 14px;
    list-style: none;
	font-weight: lighter;
	margin: none;
	padding: none;
	height: 2em;
}
.languageSelector a {
	text-decoration: none;
	color: var(--color-grey-1);
}
.languageSelector div {

	height: 2em;
    border: 1px solid var(--color-grey-9);

}

.languageSelector :nth-child(3) {
	font-weight: bolder;
	color: black;
}

#zenithCopyright {
    font-size: 14px;
}

@media screen and (max-width: 960px) {
    .footerData {
        text-align: center;
    }

    .footer {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 1.5em 6em 1.5em 6em;
    }

    .footerLeftSide {
        flex-direction: column;
    }

    .footerRightSide {
        margin-top: 1.5em;
    }

    .languageSelector ul {
        margin-top: 24px;
        margin-bottom: 0px;
    }
}