:root {
	--color-black: #000;
	--color-grey-1: #585858;
	--color-grey-9: #E5E5E5;
	--color-grey-10: #F3F3F3;
	--color-white: #FFF;
	--max-width: 88rem;
	--tablet-min: 700;
	--laptop-min: 1000;
	--desktop-min: 1250;

	--tablet-up: calc(--tablet-min / 16)rem;
	--laptop-up: calc(--laptop-min / 16)rem;
	--desktop-up: calc(--desktop-min / 16)rem;
}

@font-face {
	font-family: 'Avenir';
	src: url('../avenir_ff/AvenirLTStd-Black.otf');
	src: url('../avenir_ff/AvenirLTStd-Book.otf');
	src: url('../avenir_ff/AvenirLTStd-Roman.otf');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'Arsenica';
	src: url("../arsenica/ArsenicaTrial-BoldItalic.ttf");
	src: url("../arsenica/ArsenicaTrial-Bold.ttf");
	src: url("../arsenica/ArsenicaTrial-DemiboldItalic.ttf");
	src: url("../arsenica/ArsenicaTrial-Demibold.ttf");
	src: url("../arsenica/ArsenicaTrial-ExtraboldItalic.ttf");
	src: url("../arsenica/ArsenicaTrial-Extrabold.ttf");
	src: url("../arsenica/ArsenicaTrial-Italic.ttf");
	src: url("../arsenica/ArsenicaTrial-LightItalic.ttf");
	src: url("../arsenica/ArsenicaTrial-Light.ttf");
	src: url("../arsenica/ArsenicaTrial-MediumItalic.ttf");
	src: url("../arsenica/ArsenicaTrial-Medium.ttf");
	src: url("../arsenica/ArsenicaTrial-Regular.ttf");
	font-style: normal;
}

/* Box sizing rules */
html {
	box-sizing: border-box;
	overflow-y: scroll;
}

*,
*::before,
*::after {
	box-sizing: inherit;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
	margin: 0;
}


/* Set core body defaults */
body {
	position: absolute;
	min-height: 100vh;
	text-rendering: optimizeSpeed;
	line-height: 1.5;
	display: flex;
	justify-content: center;
	align-items: center;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
	text-decoration-skip-ink: auto;
}

a {
	text-decoration: none;
}

/* Make images easier to work with */
img,
picture {
	max-width: 100%;
	display: block;
}

ul,
li {
	list-style-type: none;
	padding: 0;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
	font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
	html:focus-within {
		scroll-behavior: auto;
	}

	*,
	*::before,
	*::after {
		animation-duration: 0.01ms !important;
		animation-iteration-count: 1 !important;
		j-duration: 0.01ms !important;
		scroll-behavior: auto !important;
	}
}

body {
	font-family: 'Avenir';
	color: var(--color-black);
	overflow-x: hidden;
	position: relative;
}

a:focus,
button:focus {
	outline: 2px dashed red;
	outline-offset: 4px;
}

a:focus:not(:focus-visible),
button:focus:not(:focus-visible) {
	outline: none;
}


#__next {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 14vh;
	margin-bottom: 14vh;
	width: 100%;
	max-width: 1920px;
	min-height: 85vh;
	padding-right: 14%;
	padding-left: 14%;
}

main {
	/* padding: 1em; */
	width: 100%;
	height: 100%;
	max-width: 1920px;
}

hr {
	margin: 1em;
	margin-left: 0;
	margin-right: 0;
	border: none;
	border-bottom: 1px solid var(--color-grey-9);
}

.popup-content {
	position: absolute;
	margin: auto;
	width: 50%;
	padding: 10px;
}

.popup-arrow {
	color: var(--color-grey-1);
}


.popup-overlay {
	background: rgba(0, 0, 0, 0.5);
}