.container {
	position: relative;
	display: flex;
	justify-content: center;
	justify-items: center;
	width: 100%;
	margin-bottom: 100px;
}
.container > div {
	width: 100%;
}

@media screen and (max-width: 550px) {
	.container {
		margin-bottom: 0;
	}
}