.artist {
	width: 100%;
	margin: 2em;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
}

.artist div {
	max-width: 40%;
	font-size: 22px;
	font-weight: bold;
	letter-spacing: 2px;
	color: var(--color-grey-1);
}