.productContainer {
	display: flex;
	flex-direction: column;
}

.productHeader {
	display: flex;
	flex-direction: row;
	align-items: baseline;
	white-space: pre-wrap;
}

.productHeader h1 {
	font-size: 3rem;
	line-height: 1;
	font-weight: bold;
	margin-right: 0.5em;
}

.subsection > h2 {
	font-size: 2rem;
	line-height: 1;
	font-weight: bold;
	padding: 1em;
	padding-left: 0;
}

.productHeader p {
	font-size: 1.3em;
	color: var(--color-grey-1)
}

.productDisplay {
	display: flex;
	justify-content: space-between;
	height: fit-content;
}

.productDisplay img {
	max-width: 40%;
	max-height: 70vh;
	object-fit: contain;
	cursor: pointer;
	transition: all 0.2s linear ;
}

.productDisplay img:hover {
	opacity: 0.8;
}

.productDisplay article {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	max-width: 55%;
	color: var(--color-grey-1);
	margin-bottom: 2.25rem;
	font-weight: lighter;
	font-size: 1.3em;
	letter-spacing: 1px;
	line-height: 2;
	padding: 2em;
}

.productDisplay article>div {
	margin: 1em;
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	align-items: center;
	font-size: 24px;
	width: 50%;
	cursor: pointer;
	border: 1px solid var(--color-grey-1);
	transition: all 0.2s linear ;
}

.productDisplay article>div:hover {
	flex-direction: row;
	justify-content: space-evenly;
	align-items: center;
	font-size: 24px;
	color: white;
	background-color: black;
	border: 1px solid black;
}

.priceTag {
	display: flex;
	justify-content: center;
	align-items: center;
	white-space: pre-wrap;
	font-size: 28px;
	padding: 1em;
}

.artist {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.artist img {
	border-radius: 100%;
}

.artist p {
	margin: 1em;
	color: var(--color-grey-1);
	font-weight: lighter;
	font-size: 20px;
	word-spacing: 2px;
}

@media screen and (min-width: 1500px) {

	.productDisplay {
		flex-direction: row;
	}

	.productDisplay article {	
		max-height: 70vh;
	}
}


@media screen and (max-width: 1300px) {
	.productDisplay {	
		flex-direction: column;
		width: auto;
		align-content:center;
	}

	.productDisplay article {	
		max-width: 100%;
	}

	.productDisplay img {
		max-width: 100%;
	}
}

@media screen and (max-width: 550px) {
	.productDisplay {	
		flex-direction: column;
		width: auto;
		align-content:center;
	}

	.productDisplay article {	
		margin-bottom: 2rem;
		font-size: 1.1em;
		padding: 1em;
		max-width: 100%;
	}

	.productDisplay img {
		max-width: 100%;
	}
	
	.productHeader h1 {
		font-size: 1.8rem;
		margin-right: 0.5em;
	}
	
	.subsection > h2 {
		font-size: 1rem;
		padding: 1em;
		padding-left: 0;
	}
	
	.productHeader p {
		font-size: 1em;
		color: var(--color-grey-1)
	}
	
	.productDisplay article>div {
		margin: 0;
		font-size: 24px;
		width: 100%;
	}
	
	.priceTag {
		font-size: 24px;
		padding: 0.6em;
	}
	
	.artist {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	
	.artist img {
		border-radius: 100%;
	}
	
	.artist p {
		font-size: 1.1em;
	}
	
}